{% extends 'BLOG_APP/base.html' %}

{% block content %}
<div class="jumbotron">
  <h2>Please Login Here</h2>
  <h3>(Must be a superuser please check with site admin)</h3>

  {% if form.errors %}
    <p>User Name or Password doesnot match</p>
  {% endif %}

  <form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Login">
    <input type="submit" name="next" value="{{next}}">
    <!-- it is for that auth view for redirect after login -->
  </form>

</div>
{% endblock %}
